{% extends 'task_manager/base.html' %}

{% block title %}Менеджер задач Hexlet{% endblock %}

{% block content %}
      


      <h1 class="my-4">
        
Метки

      </h1>
      
<a class="btn btn-primary mb-3" href="/labels/create/">Создать метку</a>


<table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Имя</th>
          <th>Дата создания</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          {% for label in labels %}
            <tr>
              <td>{{ label.id }}</td>
              <td>{{ label.name}}</td>
              <td>{{ label.date_joined|date:"d.m.Y H:i" }}</td>
              <td>
                <a href="{% url 'label_update' label.pk %}">Изменить</a>
                <br>
                <a href="{% url 'label_delete' label.pk %}">Удалить</a>
              </td>
            </tr>
          {% endfor %}
      </tbody>
</table>
{% endblock %}