{% extends 'task_manager/base.html' %}

{% block title %}Менеджер задач Hexlet{% endblock %}

{% block content %}

<h1 class="my-4">Изменение статуса</h1>

<form method="post">
    {% csrf_token %}
    <div class="mb-3"><label class="form-label" for="id_name">Имя</label><input type="text" name="name" maxlength="100" class="form-control" placeholder="Имя" required id="id_name" autofocus></div>
      <input class="btn btn-primary" type="submit" value="Изменить">
</form>

{% endblock %}