{% extends 'task_manager/base.html' %}

{% block title %}Менеджер задач Hexlet{% endblock %}

{% block content %}

    <h1 class="my-4">
        Задачи
    </h1>
      
    <a class="btn btn-primary mb-3" href="/tasks/create/" role="button">Создать задачу</a>

    <div class="card mb-3">
        <div class="card-body bg-light">
            <form class="form-inline center" method="get">
                {{ filter.form.as_p }}
                <div class="mb-3">
                    <div class="form-check">
                        <input type="checkbox" name="self_tasks" class="form-check-input mr-3 {% if request.GET.self_tasks %}is-valid{% endif %}" id="id_self_tasks" {% if request.GET.self_tasks %}checked{% endif %}>
                        <label class="form-check-label" for="id_self_tasks">Только свои задачи</label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="Показать">
            </form>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Статус</th>
                <th>Автор</th>
                <th>Исполнитель</th>
                <th>Дата создания</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for task in filter.qs %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td><a href="{% url 'task_show' task.pk %}">{{ task.title }}</a></td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.author }}</td>
                    <td>{{ task.executor }}</td>
                    <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
                    <td>
                        <a href="{% url 'task_update' task.pk %}">Изменить</a>
                        <br>
                        <a href="{% url 'task_delete' task.pk %}">Удалить</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">Нет задач для отображения.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}