{% extends 'task_manager/base.html' %}

{% block title %}Менеджер задач Hexlet{% endblock %}

{% block content %}

<h1 class="my-4">Создать задачу</h1>

<form method="post">
    {% csrf_token %}
    
    <div class="mb-3">
        <label class="form-label" for="id_name">Имя</label>
        <input type="text" name="title" maxlength="150" class="form-control" placeholder="Имя" required id="id_name">
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="id_description">Описание</label>
        <textarea name="description" cols="40" rows="10" class="form-control" placeholder="Описание" id="id_description" required></textarea>
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="id_status">Статус</label>
        <select name="status" class="form-select" required id="id_status">
            <option value="" selected>---------</option>
            {% for status in statuses %}
                <option value="{{ status.id }}">{{ status.name }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="id_executor">Исполнитель</label>
        <select name="executor" class="form-select" id="id_executor">
            <option value="" selected>---------</option>
            {% for executor in executors %}
                <option value="{{ executor.id }}">{{ executor.username }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="id_labels">Метки</label>
        <select name="labels" class="form-select" id="id_labels" multiple>
            {% for label in labels %}
                <option value="{{ label.id }}">{{ label.name }}</option>
            {% endfor %}
        </select>
    </div>
    
    <input class="btn btn-primary" type="submit" value="Создать">
</form>

{% endblock %}