{% extends 'task_manager/base.html' %}

{% block title %}Менеджер задач Hexlet{% endblock %}

{% block content %}

<h1 class="my-4">Просмотр задачи</h1>

<div class="card">
    <div class="card-header bg-secondary text-white">
        <h2>{{ task.name }}</h2>
    </div>
    <div class="card-body bg-light">
        <p>{{ task.description }}</p>
        <hr>
        <div class="container">
            <div class="row p-1">
                <div class="col">Автор</div>
                <div class="col">{{ task.author.first_name }} {{ task.author.last_name }}</div>
            </div>
            <div class="row p-1">
                <div class="col">Исполнитель</div>
                <div class="col">{{ task.executor.first_name }} {{ task.executor.last_name }}</div>
            </div>
            <div class="row p-1">
                <div class="col">Статус</div>
                <div class="col">{{ task.status.name }}</div>
            </div>
            <div class="row p-1">
                <div class="col">Дата создания</div>
                <div class="col">{{ task.created_at|date:"d.m.Y H:i" }}</div>
            </div>
            <div class="row p-1">
                <div class="col">
                    <h6>Метки:</h6>
                    <ul>
                        {% if task.labels.all %}
                            {% for label in task.labels.all %}
                                <li><span class="badge bg-secondary">{{ label.name }}</span></li>
                            {% endfor %}
                        {% else %}
                            
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="row p-1">
                <div class="col">
                    <a href="{% url 'task_update' task.pk %}">Изменить</a>
                    <br>
                    <a href="{% url 'task_delete' task.pk %}">Удалить</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}